@model List<_05.Fiap.Web.MVC.Models.Bar>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Proibido para menores</th>
    </tr>
    @foreach (var bar in Model)
    {
        <tr>
            <th>@bar.Nome</th>
            <th>@bar.Descricao</th>
            <th>@(bar.Proibido?"Sim":"Não")</th>
        </tr>
    }
</table>

